[submodule "NotesClone"]
	path = NotesClone
	url = https://github.com/Estremadoyro/NotesClone
[submodule "PhotoLibrary"]
	path = PhotoLibrary
	url = https://github.com/Estremadoyro/PhotoLibrary
[submodule "Hangman"]
	path = Hangman
	url = https://github.com/Estremadoyro/Hangman
