[submodule "NotesClone"]
	path = NotesClone
	url = https://github.com/Estremadoyro/NotesClone
[submodule "PhotoLibrary"]
	path = PhotoLibrary
	url = https://github.com/Estremadoyro/PhotoLibrary
[submodule "Hangman"]
	path = Hangman
	url = https://github.com/Estremadoyro/Hangman
[submodule "MapKitTestLibrary"]
	path = MapKitTestLibrary
	url = https://github.com/Estremadoyro/MapKitTestLibrary
[submodule "PhotoEditor"]
	path = PhotoEditor
	url = https://github.com/Estremadoyro/PhotoEditor
